---
import Layout from '../layouts/Layout.astro';
import DigitalIdentity from '../components/DigitalIdentity.astro';
---

<Layout title="1.3 | 2.8 Digital Identity">
  <main class="min-h-screen bg-white flex items-center justify-center">
    <DigitalIdentity />
  </main>
</Layout>
